# {{ ansible_managed }}

[General]

Verbosity = 0
Pipefs-Directory = /run/rpc_pipefs
# set your own domain here, if id differs from FQDN minus hostname
Domain = {{ nfs_idmapd_domain }}

[Mapping]

Nobody-User = {{ nfs_idmapd_nobody_user }}
Nobody-Group = {{ nfs_idmapd_nobody_group }}
